.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 60px;
    align-items: center;
    width: 100%;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.about-archivements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-archivement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-archivement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(264deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-archivement p {
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-archivement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}

/* Responsividad para pantallas medianas (tablets) */
@media(max-width: 1024px) {
    .about {
        gap: 60px;
        margin: 40px 50px;
    }

    .about-title h1 {
        font-size: 60px;
    }

    .about-sections {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .about-skill p {
        font-size: 22px;
    }

    .about-skill hr {
        height: 6px;
    }

    .about-archivement h1 {
        font-size: 40px;
    }

    .about-archivement p {
        font-size: 18px;
    }
}

/* Responsividad para pantallas pequeñas (móviles) */
@media(max-width: 480px) {
    .about {
        gap: 40px;
        margin: 20px 20px;
        align-items: center;
    }

    .about-title h1 {
        font-size: 40px;
        text-align: center;
    }

    .about-title img {
        width: 100px;
        right: 0;
    }

    .about-sections {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .about-para {
        font-size: 16px;
        line-height: 28px;
    }

    .about-skill {
        gap: 10px;
    }

    .about-skill p {
        font-size: 16px;
    }

    .about-skill hr {
        height: 4px;
    }

    .about-archivements {
        flex-direction: column;
        gap: 20px;
    }

    .about-archivement h1 {
        font-size: 28px;
    }

    .about-archivement p {
        font-size: 14px;
        text-align: center;
    }
}