.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    width: 100%;
    /* Asegúrate de que el formulario ocupe el ancho disponible */
}

.contact-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 100%;
    /* Usar 100% en lugar de un ancho fijo */
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background-color: #32323c;
    color: #A0A0A0;
    font-family: outfit;
    font-size: 20px;
}

.contact-right textarea {
    width: 100%;
    /* Usar 100% en lugar de un ancho fijo */
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: outfit;
    font-size: 20px;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Responsividad para pantallas medianas (tablets) */
@media(max-width: 1024px) {
    .contact {
        gap: 60px;
        margin: 40px 50px;
    }

    .contact-title h1 {
        font-size: 60px;
    }

    .contact-section {
        gap: 80px;
    }

    .contact-left h1 {
        font-size: 48px;
    }

    .contact-left p {
        font-size: 18px;
    }

    .contact-right label {
        font-size: 20px;
    }

    .contact-right input,
    .contact-right textarea {
        font-size: 18px;
    }

    .contact-submit {
        font-size: 20px;
        padding: 15px 50px;
    }
}

/* Responsividad para pantallas pequeñas (móviles) */
@media(max-width: 480px) {
    .contact {
        gap: 40px;
        margin: 20px 20px;
        align-items: center;
    }

    .contact-title h1 {
        font-size: 40px;
        text-align: center;
    }

    .contact-title img {
        width: 100px;
        right: 0;
    }

    .contact-section {
        flex-direction: column;
        gap: 20px;
    }

    .contact-left h1 {
        font-size: 32px;
        text-align: center;
    }

    .contact-left p {
        font-size: 14px;
        text-align: center;
    }

    .contact-detail {
        gap: 15px;
    }

    .contact-right label {
        font-size: 16px;
    }

    .contact-right input,
    .contact-right textarea {
        font-size: 16px;
        padding: 10px;
    }

    .contact-submit {
        font-size: 18px;
        padding: 10px 30px;
    }
}